/* {
  outline: 1px dotted gray;
}/**/

section {
  box-shadow: lightgray 2px 2px 12px;
  margin: 10px;
  padding: 12px;
  border-radius: 10px;
}

#videoPreviewDiv {
  outline: inset lightgray 2px;
  background: black;
  margin-bottom: 10px;
  display: none;
  position: relative;
  line-height: 0;
}

#videoPreviewDiv > canvas {
  width: 100%;
}

#videoPreviewDiv > canvas.motion {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  image-rendering: pixelated;
}

#audioPreviewDiv {
  border: 1px solid black;
  margin: auto;
  margin-bottom: 10px;
  padding: 2px;
  height: 20px;
  width: 200px;
  display: none;
  border-radius: 10px;
}

#audioPreviewDiv > div {
  margin: auto;
  position: relative;
  border-radius: 10px;
}

#audioRedzoneDiv {
  background: darkred;
  height: 100%;
  width: 100%;
}

#audioThresholdDiv {
  background: darkgreen;
  top: -100%;
  height: 100%;
  width: 12.8%;
}

#audioLevelDiv {
  background: lightgreen;
  top: -180%;
  height: 60%;
  width: 0%;
}

#installButton {
  display: none;
}

#logs {
  background: black;
}

#logsPre {
  display: flex;
  flex-direction: column-reverse;
  color: yellowgreen;
  max-height: 20rem;
  overflow-y: auto;
  margin-bottom: 0;
}
